# Core
Django>=5.0,<6.0
djangorestframework>=3.15

# Database
psycopg2-binary>=2.9

# Celery & Background Tasks
celery>=5.4
redis>=5.0
django-celery-results>=2.5
django-celery-beat>=2.8

# Excel / Data Processing
pandas>=3.0
numpy>=2.4
openpyxl>=3.1

# Environment & Utilities
python-dotenv>=1.0
python-crontab>=3.3
django-timezone-field>=7.2

# API Utilities
django-filter>=24.2

# Production / Deployment
gunicorn>=22.0

# Dev / Debug (optional but useful)
ipython>=8.0